{% extends 'main.html' %}

{% block content %}


<div>
<section><h1>{{event.name}}</h1></section>
<section><h3>{{event.Event_date}}</h3></section>
<section><h5>{{event.descritpion}}</h5></section>

 <section>
    <h3>Event Participants</h3>
    
    {% for user in event.participants.all %}
<p>{{user.name}}</p>
{% endfor %}
<hr>
</section>
</div>

<div>
    <section>
<a href="{% url 'Home' %}"><input type="button" value="Back"></a>
<a href="{% url 'confirmation' event.id %}"><input type="button" value="regsiter"></a>
</section>

</div>


{% endblock %}