{% extends 'main.html' %}

{% block content %}

<div>
<section><h1>{{event.name}}</h1></section>
<section><h3>{{event.Event_date}}</h3></section>
{% if request.user in event.participants.all%}
{% if  not submitted %}
<a class="btn1" href="{% url 'submit' event.id %}">Submit-Project</a>
{% else %}
<p class="Messages">You are already Submited a Project for this Event</p>
{% endif %}
{% else %}
<a class="btn1" href="{% url 'confirmation' event.id %}">Register</a>
{% endif %}
<section><h5>{{event.descritpion|linebreaks|urlize}}</h5></section>

 <section>

    <div class="event-users">
    <h3>Event Participants</h3>
    
    <div class="users-list">
    {% for user in event.participants.all %}
<div class="name-wrapper"><p>{{user.name}}</p></div>
{% endfor %}
</div>
</div>
</section>
</div>


{% endblock %}