{% extends 'main.html' %}

{% block content %}


<div>
<section><h1>{{event.name}}</h1></section>
<section><h3>{{event.Event_date}}</h3></section>
{% if request.user in event.participants.all%}
{% if  not submitted %}
<a href="{% url 'submit' event.id %}">Submit-Project</a>
{% endif %}
{% else %}
<a href="{% url 'submit' event.id %}">Register</a>
{% endif %}
<section><h5>{{event.descritpion}}</h5></section>

 <section>
    <h3>Event Participants</h3>
    
    {% for user in event.participants.all %}
<p>{{user.name}}</p>
{% endfor %}
<hr>
</section>
</div>


{% endblock %}