{% extends 'main.html' %}
    {% block content %}
    <section>
        <h2>Ongoing Events</h2>

        <div id="event-list"> 
    {% for event in events %}
    <div id="event-details">
    <a href="{% url 'event' event.id %}"><div class="name-wrapper"><h2>{{event.name}} </h2>
    <p>{{event.participants.count}} Registered</p>
    <p>Registration_Deadline: {{event.Registration_last_date}}</p>

</div></a>
</div>
    {% endfor %}
</div>

</section>

<section>


    <h2>Participatns of Event </h2>
    <div class="users-list">
    {% for participant in participants %}  
    <div class="user-wrapper">
        <img class="user-avatar" src="{{participant.avatar.url}}" alt="" srcset="">
        <h3>{{participant.name}}</h3></div>

    {% endfor %}
    </div>
    
    {% endblock %}

</section>
 